body {
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.years {
    position: relative;
    top: 15%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.week {
    font-size: 1.35vw;
    margin: 0;
}